@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans antialiased text-slate-800 bg-surface-light overflow-x-hidden;
        background-image:
            radial-gradient(at 0% 0%, rgba(99, 102, 241, 0.15) 0px, transparent 50%),
            radial-gradient(at 100% 0%, rgba(244, 63, 94, 0.15) 0px, transparent 50%),
            radial-gradient(at 100% 100%, rgba(99, 102, 241, 0.15) 0px, transparent 50%),
            radial-gradient(at 0% 100%, rgba(244, 63, 94, 0.15) 0px, transparent 50%);
        background-attachment: fixed;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display tracking-tight font-bold text-slate-900;
    }
}

@layer components {}